<h2>Constitutional Decree of the President of the Republic of 2 August 1945 on the Regulation of the Czechoslovak Citizenship of German and Hungarian Nationalities</h2>

<p>33/1945 Sb.</p>

<p>To the Government's proposal and in agreement with the Slovak National Council, I stipulate:</p>

<p>§ 1 <br>
  (1) Czechoslovak nationals of German or Hungarian nationality who acquired German or Hungarian citizenship under the rules of foreign occupying power lost Czechoslovak citizenship on the date of acquisition of such nationality.
  (2) Other Czechoslovak nationals of German or Hungarian nationality shall lose Czechoslovak citizenship on the date this Decree becomes effective.
  (3) This Decree does not apply to Germans and Hungarians who, at the time of increased threat to the Republic (§ 18 of the Presidential Decree of 19 June 1945, No. 16 Coll., On the Punishment of Nazi Criminals, Traitors and Their Aid and Extraordinary People's courts) registered in the official report as Czechs or Slovaks.
  (4) Czechs, Slovaks and members of other Slavic peoples who at this time registered as Germans or Hungarians, forced by coercion or circumstances worth special consideration, shall not be considered as Germans or Hungarians under this Decree if the Regional National Committee approves of the certificate of National Reliability issued by the relevant District National Committee (District Administrative Commission) after reviewing the stated facts.</p>

<p>§ 2 <br>
  (1) Persons falling under the provisions of § 1 who prove that they have remained loyal to the Czechoslovak Republic, have never been guilty against the Czech and Slovak nations and have either taken part in the struggle for its liberation or suffered under Nazi or Fascist terror, shall keep the Czechoslovak citizenship.</p>
